# Core ML
streamlit==1.45.0
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2
matplotlib==3.9.4
imbalanced-learn==0.13.0
 
# LangGraph Agent
langgraph==0.2.74
langchain==0.3.25
langchain-community==0.3.23
 
# RAG / Embeddings
faiss-cpu==1.10.0
sentence-transformers==3.4.1
 
# Utilities
python-dotenv==1.0.1
 